<!-- <mat-card class="mat-elevation-z8 p-5"> -->
<!-- Search content projection -->
<div #searchProjection select="search">
  <ng-content></ng-content>
</div>

<ng-container *ngIf="!searchProjection.hasChildNodes()">
  <div class="table-search">
    <mat-form-field appearance="fill">
      <button type="button" mat-icon-button matPrefix>
        <mat-icon>search</mat-icon>
      </button>
      <input matInput placeholder="Search Filter" />
    </mat-form-field>
  </div>
</ng-container>

<ng-container *ngIf="columns">
  <div class="table-container">
    <table
      mat-table
      matSort
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      [bgColor]="'purple'"
    >
      <ng-container
        *ngFor="let column of columns; let index = index"
        [matColumnDef]="column.id"
      >
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <p>{{ column.title | titlecase }}</p>
        </th>

        <td mat-cell *matCellDef="let element">
          <ng-template #defaultCellTemplate>
            <p>{{ element[column.id] }}</p>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="
              widgets[index] ? widgets[index] : defaultCellTemplate;
              context: {
                $implicit: element,
                context: contexts[index]
              }
            "
          ></ng-container>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"
        class="table-row"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <!-- Paginator content projection -->
  <div #paginationProjection select="pagination">
    <ng-content></ng-content>
  </div>
  <ng-container *ngIf="!paginationProjection.hasChildNodes()">
    <mat-paginator
      class="table-paginator"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </ng-container>
</ng-container>
<!-- </mat-card> -->
