.sidebar-menu {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
    font-family: "DMSans";
    
    .menu-list {
      flex: 1;
      justify-content: normal;
      padding-top: 0;
    }
  
    .flex-nav-list{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
    }

    .top-nav{
        a{
            transition: 0.6s all;
        }
    }

    .icon {
      padding: 0 10px 0 0;
      text-align: center;
      vertical-align: middle;
      color: white;
    }
  
    .label {
      margin: 0;
      color: white;
    }
  
    .active-list-item {
      background-color: white;
      .mat-icon{
        color: black;
      }
      .label{
        color: black;
        font-family: "DMSans";
      }
    }
}