<div
  class="sidebar-menu"
  [@onSideNavChange]="sidebarService.sidebarState$ | async"
>
  <mat-nav-list class="menu-list">
    <div class="flex-nav-list">
      <div class="top-nav">
        <a
          *ngFor="let item of navRoutes"
          mat-list-item
          routerLinkActive="active-list-item"
          routerLink="{{ item.route }}"
          title="{{ item.title }}"
          (click)="openSidebar()"
        >
          <mat-icon
            class="icon"
            [@iconAnimation]="sidebarService.sidebarState$ | async"
            >{{ item.icon }}</mat-icon
          >
          <span
            class="label"
            [@labelAnimation]="sidebarService.sidebarState$ | async"
            >{{ item.title }}</span
          >
        </a>
      </div>

      <div class="bottom-nav">
        <mat-divider></mat-divider>
        <a
          mat-list-item
          routerLinkActive="active-list-item"
          title="Logout"
          (click)="openSidebar()"
        >
          <mat-icon
            class="icon"
            [@iconAnimation]="sidebarService.sidebarState$ | async"
            >input</mat-icon
          >
          <span
            class="label"
            [@labelAnimation]="sidebarService.sidebarState$ | async"
            (click)="logout()"
            >Logout</span
          >
        </a>
      </div>
    </div>
  </mat-nav-list>
</div>
