<div class="grid-container">
  <h1 class="mat-h1">Welcome {{ (authService.user$ | async)?.username }}</h1>
  <app-stats-bar></app-stats-bar>
  <mat-grid-list cols="3" rowHeight="350px">
    <mat-grid-tile
      #dashboardGrid
      *ngFor="let card of cards | async"
      [colspan]="card.cols"
      [rowspan]="card.rows"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <!-- <mat-card-title-group> -->
          <mat-card-title class="card-title">
            {{ card.title | translate }}
          </mat-card-title>
          <mat-card-subtitle *ngIf="card.id == 'finance'"> </mat-card-subtitle>
          <!-- </mat-card-title-group> -->
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ng-container *ngIf="card.id == 'finance'">
            <ng-container *ngIf="financeData$ | async">
              <app-chart
                [labels]="dateLabels"
                [data]="financeData$"
              ></app-chart>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="card.id == 'domain'">
            <ng-container *ngIf="domainData$ | async">
              <app-chart
                [chartType]="'doughnut'"
                [labels]="domainLabels"
                [data]="domainData$"
              ></app-chart>
            </ng-container>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
