$md-cyan-pallete: (
    50 : #e1fff8,
    100 : #b5ffec,
    200 : #83ffe0,
    300 : #51ffd4,
    400 : #2cffca,
    500 : #07ffc1,
    600 : #06ffbb,
    700 : #05ffb3,
    800 : #04ffab,
    900 : #02ff9e,
    A100 : #ffffff,
    A200 : #f2fffa,
    A400 : #bfffe4,
    A700 : #a6ffd9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-black-pallete: (
    50 : #e4e4e1,
    100 : #bdbbb5,
    200 : #918d84,
    300 : #645f52,
    400 : #433d2d,
    500 : #221b08,
    600 : #1e1807,
    700 : #191406,
    800 : #141004,
    900 : #0c0802,
    A100 : #ffa750,
    A200 : #ff8e1d,
    A400 : #e97400,
    A700 : #cf6800,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$md-brown-pallete: (
    50 : #ece5e0,
    100 : #cfbeb3,
    200 : #b09380,
    300 : #90674d,
    400 : #784726,
    500 : #602600,
    600 : #582200,
    700 : #4e1c00,
    800 : #441700,
    900 : #330d00,
    A100 : #ff806b,
    A200 : #ff5438,
    A400 : #ff2805,
    A700 : #eb2100,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-amber-palette: (
    50 : #f9f3e1,
    100 : #efe0b5,
    200 : #e4cc83,
    300 : #d9b851,
    400 : #d1a82c,
    500 : #c99907,
    600 : #c39106,
    700 : #bc8605,
    800 : #b57c04,
    900 : #a96b02,
    A100 : #ffecd3,
    A200 : #ffd7a0,
    A400 : #ffc16d,
    A700 : #ffb653,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-blue-deep-theme:(
    50 : #e0e1e7,
    100 : #b3b5c2,
    200 : #80849a,
    300 : #4d5271,
    400 : #262d52,
    500 : #000834,
    600 : #00072f,
    700 : #000627,
    800 : #000421,
    900 : #000215,
    A100 : #5555ff,
    A200 : #2222ff,
    A400 : #0000ee,
    A700 : #0000d4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-exaon-blue: (
    50 : #e6e7ea,
    100 : #c0c3c9,
    200 : #969ba6,
    300 : #6c7382,
    400 : #4d5567,
    500 : #2d374c,
    600 : #283145,
    700 : #222a3c,
    800 : #1c2333,
    900 : #111624,
    A100 : #658eff,
    A200 : #3269ff,
    A400 : #0044fe,
    A700 : #003de5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-eaxon-pink: (
    50 : #fcebed,
    100 : #f7cdd1,
    200 : #f2acb2,
    300 : #ec8a93,
    400 : #e8717c,
    500 : #e45865,
    600 : #e1505d,
    700 : #dd4753,
    800 : #d93d49,
    900 : #d12d37,
    A100 : #ffffff,
    A200 : #ffe0e1,
    A400 : #ffadb1,
    A700 : #ff9399,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-eaxon-cyan: (
    50 : #e7f0f1,
    100 : #c3dbdd,
    200 : #9bc3c7,
    300 : #72aab0,
    400 : #54989f,
    500 : #36868e,
    600 : #307e86,
    700 : #29737b,
    800 : #226971,
    900 : #16565f,
    A100 : #99f1ff,
    A200 : #66ebff,
    A400 : #33e4ff,
    A700 : #1ae1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-eaxon-orange: (
    50 : #fff5e0,
    100 : #ffe7b3,
    200 : #ffd780,
    300 : #ffc64d,
    400 : #ffba26,
    500 : #ffae00,
    600 : #ffa700,
    700 : #ff9d00,
    800 : #ff9400,
    900 : #ff8400,
    A100 : #ffffff,
    A200 : #fff8f2,
    A400 : #ffddbf,
    A700 : #ffcfa6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
