@use '@angular/material' as mat;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

/* For use in src/lib/core/theming/_palette.scss */
$md-brown-pallete: (
    50 : #ece5e0,
    100 : #cfbeb3,
    200 : #b09380,
    300 : #90674d,
    400 : #784726,
    500 : #602600,
    600 : #582200,
    700 : #4e1c00,
    800 : #441700,
    900 : #330d00,
    A100 : #ff806b,
    A200 : #ff5438,
    A400 : #ff2805,
    A700 : #eb2100,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$candidate-sourcing-primary: mat.define-palette($md-brown-pallete);
$candidate-sourcing-accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candidate-sourcing-warn: mat.define-palette(mat.$red-palette);

$candidate-sourcing-theme: mat.define-light-theme((
  color: (
    primary: $candidate-sourcing-primary,
    accent: $candidate-sourcing-accent,
    warn: $candidate-sourcing-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($candidate-sourcing-theme);